h1 {
    margin-top: 100px;
    font-family: monospace;
    font-size: x-large;
    alignment: left;


}

/*tämä vaikuttaa ilmeisesti kaikkeen: home, dictionary ja weekit...*/

div {
    font-family: monospace;

}
p {
    font-size: medium;

}

h3 {
    alignment: left;
}