.notelist {
    display: inline-flex;
    margin: 10px;
    text-align: center;
    border: solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 90%;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.notelist {
    display: inline-flex;
    margin: 10px;
    text-align: center;
    flex-direction: column;
    width: 90%;

}

.anote {
    border: solid #eee;
    box-shadow: 0 1px 2px #ccc;
    border-width: 2px;
    padding: 10px;
    margin: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.anote button, .notelist button {
    padding: 2px;
    width: 20px;
    border: none;
    text-align: center;
    font-size: medium;
}

.anote button:hover, .notelist button:hover {
    background-color: #ffc80c;
    border-radius: 7px;
}

.notetext {
    font-family: monospace;
    color: #053b39;
    font-size: large;
}